
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #DCDCDC;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #1E90FF;
}

.vertical-menu a.active {
    background-color: #1E90FF;
    color: white;
}
</style>
</head>